@font-face {
  font-family: "Libertinus";
  src: url(fonts/libertinus-sans-7.020/webfont/LibertinusKeyboard-Regular.woff2);
  src: url(fonts/libertinus-sans-7.020/LibertinusSans-Bold.otf);
  src: url(fonts/libertinus-sans-7.020/LibertinusSans-Italic.otf);
  src: url(fonts/libertinus-sans-7.020/LibertinusSans-Regular.otf);
}
@import "pages/buy";
@import "pages/about";
@import "pages/members";
@import "partials/footer";
@import "partials/header";
@import "partials/stuff";

.index__body {
  margin-top: 80px;
}
// First page styling
// First page styling
// First page styling
.first {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7)),
    url(images/1.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__sub-title {
    margin-top: 60vh;
  }
}

// Second page styling
// Second page styling
// Second page styling
.second {
  height: 100vh;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__sub-title {
    color: black;
    margin-top: 15vh;
    margin-bottom: 1.5rem;
  }
  &__text {
    font-size: 32px;
    line-height: 42px;
    color: black;
    width: 42%;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  &__button {
    cursor: pointer;
    transform: translate(-7%);
  }
}

// Third page styling
// Third page styling
// Third page styling
.third {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  &__left {
    flex: 1;
  }
  &__right {
    flex: 1;
  }
  &__image {
    max-width: 100%;
    max-height: 100%;
    height: 1000px;
    object-fit: cover;
  }
  &__sub-title {
    color: black;
    &--margin-top {
      color: black;
      margin-top: 30vh;
    }
  }
  &__title {
    color: black;
    font-size: 50px;
    font-weight: 100;
  }
  &__top {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__main {
    text-align: center;
  }
  &__property {
    display: flex;
    font-size: 18px;
    gap: 3.5rem;
    justify-content: center;
    margin-bottom: 3rem;
    margin-top: 1rem;
    &-item {
      display: flex;
      gap: 0.7rem;
    }
  }
}

// Four page styling
// Four page styling
// Four page styling
.four__right {
  display: flex;
  order: 1;
}
.four-five__separation {
  width: 100%;
  height: 15vh;
}
// Five page styling
// Five page styling
// Five page styling
.five {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  background-color: #f5f5f5;

  &__left {
    flex: 1;
  }
  &__right {
    flex: 1;
  }
  &__image {
    height: 390px;
    border-radius: 50%;
    transform: translate(50%, 20%);
    position: relative;
    z-index: 0;
  }
  &__sub-title,
  &__title,
  &__text,
  &__button {
    margin-left: 12vh;
  }
  &__sub-title {
    color: black;
    margin-top: 14vh;
  }

  &__title {
    color: #1d1d1d;
    font-size: 54px;
    font-weight: 100;
    margin-top: 20vh;
  }
  &__text {
    width: 70%;
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    line-height: 26px;
  }
}

// Six page styling
// Six page styling
// Six page styling
.six {
  height: 110vh;
  &__container {
    display: flex;
  }
  &__image {
    height: 422px;
    margin-top: 23vh;
    margin-left: 2rem;
  }
  &__sub-title {
    color: black;
  }
  &__text {
    font-size: 32px;
    line-height: 42px;
    font-weight: 100;
    margin-top: 35vh;
    width: 70%;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  &__right {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
}

/// Seven page styling
/// Seven page styling
/// Seven page styling
.seven {
  height: 131vh;
  background-color: #1d1d1d;
  color: white;

  &__container {
    display: flex;
    width: 85%;
    margin: 0px auto;
  }
  &__image {
    height: 320px;
    margin-top: 6rem;
    margin-bottom: 2rem;
  }
  &__right {
    margin-left: 8rem;
  }
  &__title {
    font-size: 37px;
    font-weight: 100;
    margin-bottom: 1rem;
    margin-top: 0.3rem;
  }
  &__text {
    font-size: 18px;
    line-height: 26px;
    width: 90%;
    margin-bottom: 2.5rem;
  }
  &__button {
    color: black;
    background-color: white;
    margin-left: 0;
    &:hover {
      border: 1px solid white;
      background-color: #1d1d1d;
      color: white;
    }
  }
}

/// Eight page styling
/// Eight page styling
/// Eight page styling
.eight {
  height: 110vh;
  &__container {
    display: flex;
    margin-top: 15vh;
  }
  &__left {
    width: 50%;
    margin-top: 20vh;
  }
  &__underline {
    margin-left: 45%;
    margin-bottom: 1rem;
  }
}
.left {
  &__title {
    color: #1d1d1d;
    font-weight: 100;
    line-height: 48px;
    text-align: center;
    padding-bottom: 1rem;
  }
  &__text {
    font-size: 22px;
    line-break: 28px;
    color: #1d1d1d;
    text-align: center;
  }
  &__email {
    padding: 0.7rem 1rem;

    font-size: 18px;
    line-height: 26px;
    border-color: #e0e0e0;
    border-width: 0.5px;
    width: 370px;
    margin-left: 20%;
  }
  &__button {
    width: 370px;
    margin-left: 20%;
    margin-top: 1.2rem;
    cursor: pointer;
  }
  &__terms {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-left: 3rem;
    margin-left: 21%;
  }
}
.terms {
  &__link {
    text-decoration: underline;
    color: black;
  }
}
.right {
  display: flex;
  &__item {
    display: flex;
  }
  &__list {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin-bottom: 0.7rem;
    &-link {
      text-decoration: none;
      color: black;
      font-size: 18px;
    }
  }
  &__text {
    font-size: 28px;
    line-height: 38px;
    text-decoration: none;
    font-weight: 100;
    color: #1d1d1d;
    p {
      width: 90%;
    }
  }
  &__content {
    margin-left: 1.2rem;
  }
  &__image {
    height: 266px;
    margin-bottom: 2.5rem;
    &:hover {
      transform: scale(1.01);
      transition: 0.1s ease-in-out;
    }
  }
}
.hello {
  font-size: 50px;
  background-color: black;
  margin-top: 20vh;
}
